In [1]:
import numpy as np
import pandas as pd

In [2]:
ds=pd.read_csv('marketing_tr.csv')

In [3]:
ds=ds.drop(['marital','schooling','default','housing','loan','campaign','previous','poutcome','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed','pmonths'],axis=1)

In [4]:
ds.head()

,custAge,profession,contact,month,day_of_week,pdays,pastEmail,responded
0,55.0,admin.,cellular,nov,mon,999,0,no
1,NaN,blue-collar,cellular,jul,mon,999,0,no
2,42.0,technician,telephone,may,mon,999,0,no
3,55.0,management,cellular,jul,wed,999,0,no
4,NaN,admin.,cellular,may,tue,999,1,no

In [5]:
ds['profession'].unique()

array(['admin.', 'blue-collar', 'technician', 'management', 'services',
       'unemployed', 'housemaid', 'unknown', 'self-employed', 'retired',
       'student', 'entrepreneur'], dtype=object)

In [6]:
j=1
profession={}
for i in ds['profession'].unique():
    ds.loc[ds['profession']==i,'profession']=j
    profession[i]=j
    j+=1

In [7]:
ds.loc[ds['responded']=='no','responded']=0
ds.loc[ds['responded']=='yes','responded']=1

In [8]:
ds['custAge']=ds['custAge'].fillna(ds['custAge'].median())

In [9]:
ds.loc[ds['contact']=='cellular','contact']=0
ds.loc[ds['contact']=='telephone','contact']=1
ds.loc[ds['month']=='jan','month']=1
ds.loc[ds['month']=='feb','month']=2
ds.loc[ds['month']=='mar','month']=3
ds.loc[ds['month']=='apr','month']=4
ds.loc[ds['month']=='may','month']=5
ds.loc[ds['month']=='jun','month']=6
ds.loc[ds['month']=='jul','month']=7
ds.loc[ds['month']=='aug','month']=8
ds.loc[ds['month']=='sep','month']=9
ds.loc[ds['month']=='oct','month']=10
ds.loc[ds['month']=='nov','month']=11
ds.loc[ds['month']=='dec','month']=12

In [10]:
ds['day_of_week']=ds['day_of_week'].fillna(0)

In [11]:
ds.loc[ds['day_of_week']=='mon','day_of_week']=1
ds.loc[ds['day_of_week']=='tue','day_of_week']=2
ds.loc[ds['day_of_week']=='wed','day_of_week']=3
ds.loc[ds['day_of_week']=='thu','day_of_week']=4
ds.loc[ds['day_of_week']=='wed','day_of_week']=5
ds.loc[ds['day_of_week']=='fri','day_of_week']=6
ds.loc[ds['day_of_week']=='sat','day_of_week']=7

In [16]:
train= np.array(ds)

In [17]:
print train.shape

(7414, 8)

In [15]:
ds.head()

   custAge profession contact month day_of_week  pdays  pastEmail responded
0     55.0          1       0    11           1    999          0         0
1     38.0          2       0     7           1    999          0         0
2     42.0          3       1     5           1    999          0         0
3     55.0          4       0     7           3    999          0         0
4     38.0          1       0     5           2    999          1         0

In [43]:
split=0.75*train.shape[0]
train_data=train[:,:-1]

X_train=train_data[:split,:]
X_test=train_data[split:,:]

# labels = train[:,-1]
labels = np.asarray(train[:,-1], dtype="|S6")

y_train=labels[:split]
y_test=labels[split:]

print X_train.shape,X_test.shape
print y_train.shape, y_test.shape

(5560, 7) (1854, 7)
(5560,) (1854,)

/Users/apple/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/Users/apple/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/Users/apple/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
/Users/apple/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:11: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

In [34]:
labels= labels.reshape((7414,1))

In [44]:
print labels.dtype

|S6

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
clf = RandomForestClassifier(n_estimators=100,max_features=3,min_samples_split=5,oob_score=True)
clf.fit(train_data, labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=3, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=5, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=True, random_state=None,
            verbose=0, warm_start=False)

In [46]:
print clf.score(X_test,y_test)

0.940129449838

In [ ]:
from sklearn import svm
clf2= svm.SVC()
clf2.fit(trai)