In [3]:
import numpy as np
import pandas as pd

In [4]:
ds=pd.read_csv('marketing_tr.csv')

In [5]:
ds=ds.drop(['marital','schooling','default','housing','loan','campaign','previous','poutcome','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed','pmonths'],axis=1)

In [21]:
ds.head()

   custAge   profession contact month day_of_week  pdays  pastEmail responded
0     55.0       admin.       0    11           1    999          0        no
1     38.0  blue-collar       0     7           1    999          0        no
2     42.0   technician       0     5           1    999          0        no
3     55.0   management       0     7           3    999          0        no
4     38.0       admin.       0     5           2    999          1        no

In [27]:
ds['profession'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype=object)

In [26]:
j=1
profession={}
for i in ds['profession'].unique():
    ds.loc[ds['profession']==i,'profession']=j
    profession[i]=j
    j+=1

In [ ]:
ds.loc[ds['responded']=='no','responded']=0
ds.loc[ds['responded']=='yes','responded']=1

In [7]:
ds['custAge']=ds['custAge'].fillna(ds['custAge'].median())

In [13]:
ds.loc[ds['contact']=='cellular','contact']=0
ds.loc[ds['contact']=='telephone','contact']=1
ds.loc[ds['month']=='jan','month']=1
ds.loc[ds['month']=='feb','month']=2
ds.loc[ds['month']=='mar','month']=3
ds.loc[ds['month']=='apr','month']=4
ds.loc[ds['month']=='may','month']=5
ds.loc[ds['month']=='jun','month']=6
ds.loc[ds['month']=='jul','month']=7
ds.loc[ds['month']=='aug','month']=8
ds.loc[ds['month']=='sep','month']=9
ds.loc[ds['month']=='oct','month']=10
ds.loc[ds['month']=='nov','month']=11
ds.loc[ds['month']=='dec','month']=12

In [17]:
ds['day_of_week']=ds['day_of_week'].fillna(0)

In [19]:
ds.loc[ds['day_of_week']=='mon','day_of_week']=1
ds.loc[ds['day_of_week']=='tue','day_of_week']=2
ds.loc[ds['day_of_week']=='wed','day_of_week']=3
ds.loc[ds['day_of_week']=='thu','day_of_week']=4
ds.loc[ds['day_of_week']=='wed','day_of_week']=5
ds.loc[ds['day_of_week']=='fri','day_of_week']=6
ds.loc[ds['day_of_week']=='sat','day_of_week']=7

In [ ]:
print ds.shape